delta-spark==2.4.0       # Delta Lake integration with Spark
requests==2.31.0         # HTTP library for API requests
py4j==0.10.9.7           # Python-Java bridge for PySpark
pyspark==3.4.1           # Apache Spark Python API
boto3==1.28.0            # AWS SDK for Python (for S3/MinIO integration)
pillow==9.5.0            # Python Imaging Library (PIL) for image processing
psycopg2-binary==2.9.10  # PostgreSQL database adapter for Python
pandas
great_expectations==1.4.2
duckdb==1.2.2
pypdf2
dotenv